Repository flomesh-io/xnet, pull requests merged in 2025-04, with the labels that each got.

#92 fix: cni bin check
  kern/include/bpf_helpers.h
  pkg/xnet/cni/deliver/install.go
Labels: area/xnet

#99 fix: check and repair pods.
  Makefile
  cmd/xctr/main.go
  pkg/k8s/informers/informers.go
  pkg/xnet/bpf/cli/wait.go
  pkg/xnet/cni/controller/hwaddr.go
  pkg/xnet/cni/controller/plugin.go
  pkg/xnet/cni/controller/repair.go
  pkg/xnet/cni/controller/types.go
  pkg/xnet/tc/tc.go
  pkg/xnet/volume/types.go
Labels: area/xnet

#102 fix: upgrade e4lb.
  kern/include/bpf_xflow.h
  pkg/xnet/cni/controller/repair.go
  pkg/xnet/cni/controller/server.go
  pkg/xnet/e4lb/device.go
Labels: area/xnet

#105 fix: cni bridges information loading phase.
  .github/workflows/release.yml
  pkg/xnet/cni/controller/bridge.go
  pkg/xnet/cni/controller/policy.go
  pkg/xnet/cni/controller/server.go
Labels: area/xnet

#107 ci: fix release workflow
  .github/workflows/release.yml
  Makefile
  dockerfiles/Dockerfile.ubuntu-20.04
  dockerfiles/Dockerfile.ubuntu-22.04
  dockerfiles/Dockerfile.ubuntu-24.04
Labels: area/xnet, github-actions

#108 fix: docker tags
  .github/workflows/release.yml
Labels: bug, area/xnet, github-actions

#109 fix: latest tag
  .github/workflows/release.yml
Labels: bug, area/xnet, github-actions
