Repository flomesh-io/xnet, pull requests merged in 2025-03, with the labels that each got.

#72 fix: the forwarding of local requests.
  Dockerfile
  Dockerfile.bclinux.euler.22.10
  Makefile.cli.mk
  cmd/xnat/main.go
  go.mod
  go.sum
  kern/include/bpf_debug.h
  kern/include/bpf_xflow.h
  kern/src/xnet.kern.c
  pkg/xnet/arp/announce.go
  pkg/xnet/bpf/cli/arp.go
  pkg/xnet/bpf/cli/arp_announce.go
  pkg/xnet/bpf/cli/flags.go
  pkg/xnet/bpf/maps/prog.go
Labels: area/xnet

#76 feat: optimize xnetwork build and start args for versions of kernel.
  .github/workflows/release.yml
  Makefile
  cmd/xctr/main.go
  cmd/xnat/main.go
  dockerfiles/Dockerfile
  dockerfiles/Dockerfile.openeuler.22.03
  dockerfiles/Dockerfile.ubuntu.20.04
  dockerfiles/Dockerfile.ubuntu.22.04
  dockerfiles/Dockerfile.ubuntu.24.04
  kern/include/bpf_section.h
  kern/src/xnet.kern.c
  pkg/k8s/client.go
  pkg/k8s/types.go
  pkg/version/version.go
  pkg/xnet/bpf/cli/wait.go
  pkg/xnet/bpf/load/prog.go
  pkg/xnet/bpf/maps/prog.go
  pkg/xnet/bpf/types.go
  pkg/xnet/cni/controller/policy.go
  pkg/xnet/cni/controller/repair.go
  pkg/xnet/cni/controller/server.go
  pkg/xnet/cni/types.go
  pkg/xnet/tc/tc.go
Labels: area/xnet

#75 build(deps): bump go from 1.23 to 1.24
  .github/workflows/main.yml
  .golangci.yml
  dockerfiles/Dockerfile
  dockerfiles/Dockerfile.openeuler.22.03
  dockerfiles/Dockerfile.ubuntu.20.04
  dockerfiles/Dockerfile.ubuntu.22.04
  dockerfiles/Dockerfile.ubuntu.24.04
  go.mod
Labels: dependencies, area/xnet

#77 fix: monitored pod check
  pkg/k8s/client.go
  pkg/k8s/types.go
  pkg/xnet/cni/controller/repair.go
Labels: area/xnet

#78 feat: support setting xnet config by magic
  cmd/xctr/main.go
  pkg/xnet/bpf/load/prog.go
  pkg/xnet/bpf/maps/cfg.go
  pkg/xnet/cni/controller/server.go
Labels: area/xnet

#79 ci: push latest image to ghcr.io as well
  .github/workflows/main.yml
Labels: area/xnet, github-actions

#80 revert: push latest image to ghcr.io as well
  .github/workflows/main.yml
Labels: area/xnet, github-actions

#83 build(deps): bump k8s.io/* from v0.31.7 to v0.32.3
  go.mod
  go.sum
Labels: dependencies, area/xnet

#86 feat: e4lb check and repair mechanism.
  pkg/xnet/cni/controller/repair.go
  pkg/xnet/cni/controller/server.go
  pkg/xnet/tc/tc.go
Labels: area/xnet

#88 fix: ipv6 udp dnat
  kern/include/bpf_helpers.h
  kern/include/bpf_macros.h
Labels: area/xnet
