Repository flomesh-io/xnet, pull requests merged in 2025-02, with the labels that each got.

#42 feat: cni bin dir validation.
  pkg/xnet/cni/controller/server.go
  pkg/xnet/cni/deliver/install.go
  pkg/xnet/cni/types.go
Labels: area/xnet

#44 feat: supports ipv6 traffic interception.
  docs/tests/Makefile
  docs/tests/README.md
  kern/include/bpf_config.h
  kern/include/bpf_debug.h
  kern/include/bpf_helpers.h
  kern/include/bpf_macros.h
  kern/include/bpf_xcode.h
  kern/include/bpf_xflow.h
  kern/include/bpf_xmaps.h
  kern/include/bpf_xtrans.h
  kern/include/bpf_xtypes.h
  kern/src/xnet.kern.c
  pkg/xnet/bpf/cli/acl_add.go
  pkg/xnet/bpf/cli/acl_del.go
  pkg/xnet/bpf/cli/config_set.go
  pkg/xnet/bpf/cli/nat.go
  pkg/xnet/bpf/cli/trace_ip_add.go
  pkg/xnet/bpf/cli/trace_ip_del.go
  pkg/xnet/bpf/load/prog.go
  pkg/xnet/bpf/maps/acl.go
  pkg/xnet/bpf/maps/bpfel.go
  pkg/xnet/bpf/maps/cfg.go
  pkg/xnet/bpf/maps/flow.go
  pkg/xnet/bpf/maps/flow_tcp.go
  pkg/xnet/bpf/maps/flow_udp.go
  pkg/xnet/bpf/maps/iface.go
  pkg/xnet/bpf/maps/nat.go
  pkg/xnet/bpf/maps/opt.go
  pkg/xnet/bpf/maps/strs.go
  pkg/xnet/bpf/maps/traceip.go
  pkg/xnet/bpf/maps/types.go
  pkg/xnet/ns/ns.go
  pkg/xnet/util/ip.go
Labels: enhancement, area/xnet

#45 feat: supports ipv6 traffic interception.
  cmd/xctr/main.go
  pkg/xnet/bpf/load/prog.go
  pkg/xnet/cni/controller/server.go
Labels: area/xnet

#46 feat: supports traffic bypass.
  kern/include/bpf_xflow.h
  kern/include/bpf_xtypes.h
  pkg/xnet/util/arping_darwin.go
  pkg/xnet/util/arping_linux.go
Labels: area/xnet

#48 fix: IFNAMSIZ legacy
  kern/include/bpf_macros.h
Labels: area/xnet

#50 feat: support calico cross subnet vxlan.
  cmd/xctr/main.go
  pkg/xnet/bpf/cli/netns_exec.go
  pkg/xnet/bpf/cli/netns_list.go
  pkg/xnet/cni/controller/bridge.go
  pkg/xnet/cni/controller/hwaddr.go
  pkg/xnet/cni/controller/plugin.go
  pkg/xnet/cni/controller/policy.go
  pkg/xnet/cni/controller/repair.go
  pkg/xnet/cni/controller/server.go
  pkg/xnet/cni/controller/types.go
  pkg/xnet/ns/inode.go
  pkg/xnet/volume/types.go
Labels: area/xnet

#55 fix: common vulnerabilities and exposures.
  pkg/xnet/bpf/fs/mount.go
  pkg/xnet/bpf/fs/types.go
  pkg/xnet/bpf/load/prog.go
  pkg/xnet/bpf/maps/acl.go
  pkg/xnet/bpf/maps/cfg.go
  pkg/xnet/bpf/maps/flow_tcp.go
  pkg/xnet/bpf/maps/flow_udp.go
  pkg/xnet/bpf/maps/iface.go
  pkg/xnet/bpf/maps/nat.go
  pkg/xnet/bpf/maps/opt.go
  pkg/xnet/bpf/maps/prog.go
  pkg/xnet/bpf/maps/strs.go
  pkg/xnet/bpf/maps/traceip.go
  pkg/xnet/bpf/maps/traceport.go
  pkg/xnet/util/arping_linux.go
Labels: area/xnet

#56 fix: docker image build
  Dockerfile
Labels: area/xnet

#57 feat: libbpf_strict feature check.
  Makefile.cli.mk
  pkg/xnet/bpf/load/prog.go
Labels: area/xnet

#58 build: update base image of xnet
  Dockerfile
Labels: dependencies, area/xnet

#59 ci: use trivy to scan images
  .github/workflows/main.yml
  Makefile
Labels: area/xnet, github-actions

#60 ci: trigger release on fsm release event
  .github/workflows/release.yml
  .github/workflows/tag.yml
Labels: area/xnet, github-actions

#61 ci: fix PAT of creating tag
  .github/workflows/tag.yml
Labels: bug, area/xnet, github-actions

#64 ci: update tag if already exists
  .github/workflows/tag.yml
Labels: area/xnet, github-actions

#65 ci: fix ref path
  .github/workflows/tag.yml
Labels: area/xnet, github-actions

#66 ci: switch to ncipollo/release-action for releasing
  .github/workflows/release.yml
Labels: enhancement, area/xnet, github-actions

#67 ci: fix set-output command is deprecated
  .github/workflows/release.yml
Labels: area/xnet, github-actions

#69 fix: remove useless instructions.
  Dockerfile.bclinux.euler.22.10
Labels: area/xnet
